article {
    @import "Article/Tags";
    @import "Article/Code";
    @import "Article/Images";
    @import "Article/Tabs";
    @import "Article/Feedback";
    @import "Article/Embeds";

    margin-bottom: 3rem;

    .article-title {
        &.article-title-link {
            cursor: pointer;
        }

        .article-link {
            margin-left: .2em;
    
            opacity: 0;
        }
    
        &:hover {
            .article-link {
                opacity: 1;
            }
        }
    }

    .article-date {
        text-transform: uppercase;
    
        color: lighten($color, 25%);
    }
}
