article {
    @import "Article/Tags";
    @import "Article/Code";
    @import "Article/Images";
    @import "Article/Tabs";
    @import "Article/Feedback";
    @import "Article/Embeds";
    @import "Article/Blockquote";

    margin-bottom: 3rem;

    .article-title {
        &.article-title-link {
            cursor: pointer;

            display: flex;

            align-items: center;
        }

        .article-link {
            margin-left: .2em;
    
            opacity: 0;
        }
    
        &:hover {
            .article-link {
                opacity: 1;
            }
        }
    }

    .article-network {
        margin: 2em 0;

        text-align: center;
    }

    .article-date {
        text-transform: uppercase;
    
        color: lighten($color, 25%);
    }

    .article-vector {
        width: 80%;
        height: 100%;

        margin: auto;

        overflow: hidden;

        .article-vector-grid {
            margin-left: -1px;
            margin-top: -1px;
        }
    }

    iframe {
        border: none;

        margin: 0 auto 1em auto;

        max-width: 100%;
    }
}
