blockquote {
    margin: .5em 0 .5em 1em;

    position: relative;

    padding: 1px 0;

    font-size: 0.85em;

    padding-left: 1em;

    background: rgba($color, .05);

    border-radius: 6px;

    overflow: hidden;

    &::before {
        content: '';

        position: absolute;
        
        left: 0;
        top: 0;

        width: 5px;
        height: 100%;


        background: darken($background, 5%);
    }
}
