.article-code {
    border-radius: 6px;

    font-size: .8em;

    background: darken($background, 2%);

    pre {
        overflow: auto;

        &::-webkit-scrollbar {
            height: 4px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: none;
    
            border-radius: 3px;
        }
    
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: $color;
            }
        }

        padding: .6em !important;

        background: none !important;
    }

    img {
        position: absolute;

        bottom: 4px;
        right: 4px;

        border-radius: 3px;

        width: 2em;
        height: 2em;

        transition: opacity 100ms ease;

        &:hover {
            opacity: .1;
        }
    }
}
