.article-tags {
    display: flex;

    .article-tags-content {
        display: flex;

        gap: .5em;
    }

    .article-tags-links {
        margin-left: auto;
    }

    .article-tag {
        color: darken($color, 10%);

        border: 1px solid darken($color, 10%);
        border-radius: 4px;

        font-size: .84em;

        padding: .4em;

        user-select: none;

        cursor: pointer;

        position: relative;

        display: flex;

        align-items: center;

        .article-tag-icon {
            margin-right: .3em;
        }

        &.article-tag-featured {
            @extend .shimmer;

            &::before {
                content: "";
            }
        }

        &:hover {
            filter: brightness(115%);
        }

        &:active {
            filter: brightness(85%);
        }
    }
}
