article {
}

.article-tag {
    color: darken($color, 10%);

    border: 1px solid darken($color, 10%);
    border-radius: 3px;

    font-size: .8em;

    padding: .3em;

    user-select: none;

    cursor: pointer;

    position: relative;

    &:hover {
        color: lighten($color, 10%);
    
        border-color: lighten($color, 10%);
    }

    &:active {
        color: darken($color, 25%);
    
        border-color: darken($color, 25%);
        
        top: 1px;
    }
}

.article-date {
    text-transform: uppercase;

    color: lighten($color, 25%);
}

.article-code {
    border-radius: 6px;

    font-size: .8em;

    background: darken($background, 2%);

    pre {
        overflow: auto;

        &::-webkit-scrollbar {
            height: 4px;
        }
    
        &::-webkit-scrollbar-thumb {
            background: none;
    
            border-radius: 3px;
        }
    
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: $color;
            }
        }

        padding: .6em !important;

        background: none !important;
    }

    img {
        position: absolute;

        bottom: 4px;
        right: 4px;

        border-radius: 3px;

        width: 2em;
        height: 2em;

        transition: opacity 100ms ease;

        &:hover {
            opacity: .1;
        }
    }
}

.article-images-3 {
    width: 100%;

    position: relative;

    img {
        position: absolute;

        height: 60%;

        top: 25%;

        box-shadow: 0 0 5px #000;

        border-radius: 5px;

        &:nth-child(1) {
            left: -5vw;

            transform: rotateZ(-7deg);
        }

        &:nth-child(2) {
            width: 100%;
            height: auto;

            top: 8%;

            z-index: 1;
        }

        &:nth-child(3) {
            right: -5vw;

            transform: rotateZ(9deg);
        }

        &:hover {
            z-index: 2;
        }
    }
}

.article-image {
    width: 100%;

    position: relative;

    display: flex;

    flex-direction: column;

    img {
        width: 100%;

        margin: auto;

        border-radius: 6px;
        flex-basis: 100%;
    }

    p {
        font-size: .82em;

        margin-top: .5em;

        margin-bottom: 0;
    }

    .article-image-alt {
        font-style: italic;
    }

    .article-image-source {
        float: right;

        color: lighten($color, 25%);
    }
}
