footer {
    @extend main;

    .footer-links {
        color: $color;

        justify-content: end;

        display: flex;

        gap: 1em;

        font-size: 1.5em;

        a {
            &:hover {
                color: lighten($color, 25%);
            }

            &:active {
                color: darken($color, 25%);
            }
        }
    }
}
