footer {
    display: flex;

    color: $color;

    padding-bottom: .5em;

    a {
        &:hover {
            color: lighten($color, 25%);
        }
    }

    .footer-links {
        margin-left: auto;

        display: flex;

        gap: 1em;

        font-size: 1.5em;

        @media print {
            justify-content: space-between;

            margin-top: 1em;
        }

        a {
            &:hover {
                color: lighten($color, 25%);
            }

            transition: color 50ms ease-in-out;

            .print-only {
                margin-left: .5rem;

                font-size: 1rem;
            }

            &:active {
                color: darken($color, 25%);
            }

            &.footer-link-linkedin:hover {
                color: #0077B5;
            }

            &.footer-link-github:hover {
                color: #FFF;
            }

            &.footer-link-stack-overflow:hover {
                color: #F48024;
            }
        }
    }
}
