footer {
    @extend main;

    .footer-links {
        color: $color;

        justify-content: flex-end;

        display: flex;

        gap: 1em;

        font-size: 1.5em;

        a {
            &:hover {
                color: lighten($color, 25%);
            }

            transition: color 50ms ease-in-out;

            &:active {
                color: darken($color, 25%);
            }

            &.footer-link-linkedin:hover {
                color: #0077B5;
            }

            &.footer-link-github:hover {
                color: #FFF;
            }

            &.footer-link-stack-overflow:hover {
                color: #F48024;
            }
        }
    }
}
