header {
    
    svg {
        fill: $color;

        .small {
            font-size: 10px;
        }

        .large {
            fill: #FFF;

            font-size: 30px;
            font-weight: 500;
        }
    }

    h1 {
        max-width: max-content;
    }

    p {
        margin: 0;

        font-size: 0.8em;

        user-select: none;

        &:last-child {
            text-align: right;
        }
    }

    .dodge-the-cursor {
        position: relative;
    }
}
