main {
    margin: 0 auto;

    width: 42rem;

    //padding: 0 1rem;
    padding: 4rem 1rem 1rem;

    box-sizing: border-box;

    @media print {
        width: 90%;
        max-width: 100%;
    }
}
